@keyframes bgMove {
    0% {
        transform: scale(1.8) translate(0px, 0px);
    }

    25% {
        transform: scale(1.8) translate(-20px, -10px);
    }

    50% {
        transform: scale(1.8) translate(-10px, -25px);
    }

    75% {
        transform: scale(1.8) translate(15px, -10px);
    }

    100% {
        transform: scale(1.8) translate(20px, 10px);
    }
}

@keyframes cardIn {
    from {
        opacity: 0;
        transform: translateY(12px) scale(.98);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@keyframes playerIn {
    from {
        opacity: 0;
        transform: translateY(40px) scale(.96);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

/* ancho */
::-webkit-scrollbar {
    width: 10px;
}

/* fondo del track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* barra */
::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.14);
    border-radius: 10px;
    backdrop-filter: blur(6px);
    border: 2px solid transparent;
    background-clip: padding-box;
    transition: background .2s ease;
}

/* hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.28);
}

/* cuando haces click */
::-webkit-scrollbar-thumb:active {
    background: rgba(255, 255, 255, 0.35);
}